version: 0.78.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - project

definitions:
  streams:
    project:
      type: DeclarativeStream
      name: project
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/base_requester'
          path: project
          http_method: GET
          request_headers:
            Accept: text/plain
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: ContinuationToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("continuationToken", {}) }}'
            stop_condition: '{{ not response.get("continuationToken", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: '#/schemas/project'
    work_breakdown_structure:
      type: DeclarativeStream
      name: work_breakdown_structure
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/base_requester'
          path: project/work-breakdown-structure
          http_method: GET
          request_parameters:
            ProjectId: '{{ stream_partition.project}}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: ContinuationToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("continuationToken", {}) }}'
            stop_condition: '{{ not response.get("continuationToken", {}) }}'
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: project
                stream:
                  $ref: '#/definitions/streams/project'
      transformations:
        - type: AddFields
          fields:
            - path:
                - projectId
              value: '{{ stream_partition.project }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: '#/schemas/work_breakdown_structure'
    time_registrations:
      type: DeclarativeStream
      name: time_registrations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/base_requester'
          path: time-registrations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: ContinuationToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("continuationToken", {}) }}'
            stop_condition: '{{ not response.get("continuationToken", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: '#/schemas/time_registrations'
    absence_registrations:
      type: DeclarativeStream
      name: absence_registrations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/base_requester'
          path: absence-registrations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: ContinuationToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("continuationToken", {}) }}'
            stop_condition: '{{ not response.get("continuationToken", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: '#/schemas/absence_registrations'
    resource:
      type: DeclarativeStream
      name: resource
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/base_requester'
          path: resource
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: ContinuationToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("continuationToken", {}) }}'
            stop_condition: '{{ not response.get("continuationToken", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: '#/schemas/resource'
    payroll_lines:
      type: DeclarativeStream
      name: payroll_lines
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/base_requester'
          path: payroll-lines
          http_method: GET
          request_parameters:
            FromDateTime: '2025-01-01'
            ExportAllPayrollTypes: 'true'
            UserPayrollTypeFilter: AllUsers
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: ContinuationToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("continuationToken", {}) }}'
            stop_condition: '{{ not response.get("continuationToken", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: '#/schemas/payroll_lines'
    incidents_registration:
      type: DeclarativeStream
      name: incidents_registration
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/base_requester'
          path: incident-registrations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: ContinuationToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("continuationToken", {}) }}'
            stop_condition: '{{ not response.get("continuationToken", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: '#/schemas/incidents_registration'
  base_requester:
    type: HttpRequester
    url_base: https://core-api.ditio.app/reporting/v1
    authenticator:
      type: OAuthAuthenticator
      client_id: "{{ config[\"client_id\"] }}"
      grant_type: client_credentials
      client_secret: "{{ config[\"client_secret\"] }}"
      refresh_request_body: {}
      token_refresh_endpoint: https://identity.ditio.no/connect/token

streams:
  - $ref: '#/definitions/streams/project'
  - $ref: '#/definitions/streams/work_breakdown_structure'
  - $ref: '#/definitions/streams/time_registrations'
  - $ref: '#/definitions/streams/absence_registrations'
  - $ref: '#/definitions/streams/resource'
  - $ref: '#/definitions/streams/payroll_lines'
  - $ref: '#/definitions/streams/incidents_registration'

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_id
      - client_secret
    properties:
      client_id:
        type: string
        title: Client ID
        airbyte_secret: true
        order: 0
      client_secret:
        type: string
        title: Client secret
        airbyte_secret: true
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    project: false
    work_breakdown_structure: false
    time_registrations: false
    absence_registrations: false
    resource: true
    payroll_lines: true
    incidents_registration: true

schemas:
  project:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      companyData:
        type:
          - array
          - 'null'
      companyId:
        type:
          - string
          - 'null'
      companyName:
        type:
          - string
          - 'null'
      createdBy:
        type:
          - string
          - 'null'
      createdDateTime:
        type:
          - string
          - 'null'
      deletedBy:
        type:
          - string
          - 'null'
      deletedDateTime:
        type:
          - string
          - 'null'
      externalDim01:
        type:
          - string
          - 'null'
      externalDim02:
        type:
          - string
          - 'null'
      externalNumber:
        type:
          - string
          - 'null'
      id:
        type: string
      isDeleted:
        type:
          - boolean
          - 'null'
      isExternal:
        type:
          - boolean
          - 'null'
      modifiedBy:
        type:
          - string
          - 'null'
      modifiedDateTime:
        type:
          - string
          - 'null'
      name:
        type:
          - string
          - 'null'
      number:
        type:
          - string
          - 'null'
    required:
      - id
  work_breakdown_structure:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      chapterId:
        type:
          - string
          - 'null'
      companyId:
        type:
          - string
          - 'null'
      companyName:
        type:
          - string
          - 'null'
      createdBy:
        type:
          - string
          - 'null'
      createdDateTime:
        type:
          - string
          - 'null'
      deletedBy:
        type:
          - string
          - 'null'
      deletedDateTime:
        type:
          - string
          - 'null'
      externalNumber:
        type:
          - string
          - 'null'
      folderPathName:
        type:
          - string
          - 'null'
      fullPathName:
        type:
          - string
          - 'null'
      id:
        type: string
      isDeleted:
        type:
          - boolean
          - 'null'
      isExternal:
        type:
          - boolean
          - 'null'
      modifiedBy:
        type:
          - string
          - 'null'
      modifiedDateTime:
        type:
          - string
          - 'null'
      name:
        type:
          - string
          - 'null'
      nameWithNumber:
        type:
          - string
          - 'null'
      parentName:
        type:
          - string
          - 'null'
      projectId:
        type:
          - string
          - 'null'
    required:
      - id
  time_registrations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      amount:
        type:
          - number
          - 'null'
      approved:
        type:
          - boolean
          - 'null'
      approvedByName:
        type:
          - string
          - 'null'
      approvedDateTime:
        type:
          - string
          - 'null'
      breakQty:
        type:
          - number
          - 'null'
      breakUnplanned:
        type:
          - number
          - 'null'
      companySpecificAmounts:
        type:
          - array
          - 'null'
        items:
          type:
            - object
            - 'null'
          properties:
            amount:
              type:
                - number
                - 'null'
            companyId:
              type:
                - string
                - 'null'
            costAmount:
              type:
                - number
                - 'null'
            costAmountMachine:
              type:
                - number
                - 'null'
            costAmountMan:
              type:
                - number
                - 'null'
            costPriceBase:
              type:
                - number
                - 'null'
            costPriceMachine:
              type:
                - number
                - 'null'
            costPriceMan:
              type:
                - number
                - 'null'
            hierarchyLevel:
              type:
                - number
                - 'null'
            overtimeDetails:
              type:
                - array
                - 'null'
            price:
              type:
                - number
                - 'null'
            priceDate:
              type:
                - string
                - 'null'
            unitCostPrice:
              type:
                - number
                - 'null'
            unitPrice:
              type:
                - number
                - 'null'
      costAmount:
        type:
          - number
          - 'null'
      costAmountMachine:
        type:
          - number
          - 'null'
      costAmountMan:
        type:
          - number
          - 'null'
      costPriceBase:
        type:
          - number
          - 'null'
      costPriceMachine:
        type:
          - number
          - 'null'
      costPriceMan:
        type:
          - number
          - 'null'
      createdDateTime:
        type:
          - string
          - 'null'
      description:
        type:
          - string
          - 'null'
      descriptionInternal:
        type:
          - string
          - 'null'
      dinnerSkipped:
        type:
          - boolean
          - 'null'
      dinnerSubtracted:
        type:
          - boolean
          - 'null'
      equipmentIds:
        type:
          - array
          - 'null'
      equipments:
        type:
          - array
          - 'null'
      id:
        type: string
      invoiced:
        type:
          - boolean
          - 'null'
      isDeleted:
        type:
          - boolean
          - 'null'
      locked:
        type:
          - boolean
          - 'null'
      lockedDateTime:
        type:
          - string
          - 'null'
      lunchSkipped:
        type:
          - boolean
          - 'null'
      lunchSubtracted:
        type:
          - boolean
          - 'null'
      machineEmissionClass:
        type:
          - string
          - 'null'
      machineRegistrationNumber:
        type:
          - string
          - 'null'
      modifiedDateTime:
        type:
          - string
          - 'null'
      payrollApproved:
        type:
          - boolean
          - 'null'
      payrollApprovedDateTime:
        type:
          - string
          - 'null'
      price:
        type:
          - number
          - 'null'
      primaryResourceName:
        type:
          - string
          - 'null'
      projectCompanyId:
        type:
          - string
          - 'null'
      projectCompanyName:
        type:
          - string
          - 'null'
      projectExternalDim01:
        type:
          - string
          - 'null'
      projectExternalDim02:
        type:
          - string
          - 'null'
      projectId:
        type:
          - string
          - 'null'
      projectName:
        type:
          - string
          - 'null'
      projectNumber:
        type:
          - string
          - 'null'
      qty:
        type:
          - number
          - 'null'
      resourceId:
        type:
          - string
          - 'null'
      resourceName:
        type:
          - string
          - 'null'
      resourceNameLong:
        type:
          - string
          - 'null'
      resourceNumber:
        type:
          - string
          - 'null'
      resourceTypeName:
        type:
          - string
          - 'null'
      startDateTime:
        type:
          - string
          - 'null'
      stopDateTime:
        type:
          - string
          - 'null'
      taskChapterId:
        type:
          - string
          - 'null'
      taskExternalDim01:
        type:
          - string
          - 'null'
      taskId:
        type:
          - string
          - 'null'
      taskName:
        type:
          - string
          - 'null'
      taskNameLong:
        type:
          - string
          - 'null'
      taskPieceWorkId:
        type:
          - string
          - 'null'
      taskWbsNumber:
        type:
          - string
          - 'null'
      unitName:
        type:
          - string
          - 'null'
      unitPrice:
        type:
          - number
          - 'null'
      unitQty:
        type:
          - number
          - 'null'
      userBirthDate:
        type:
          - string
          - 'null'
      userCompanyId:
        type:
          - string
          - 'null'
      userCompanyName:
        type:
          - string
          - 'null'
      userCompanyOrgNr:
        type:
          - string
          - 'null'
      userCompanyProjectExternalDim01:
        type:
          - string
          - 'null'
      userEmployeeNumber:
        type:
          - string
          - 'null'
      userId:
        type:
          - string
          - 'null'
      userName:
        type:
          - string
          - 'null'
      userWorkShiftSettingId:
        type:
          - string
          - 'null'
      userWorkShiftSettingName:
        type:
          - string
          - 'null'
      userWorkTitle:
        type:
          - string
          - 'null'
      workDate:
        type:
          - string
          - 'null'
    required:
      - id
  absence_registrations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      absenceTypeCode:
        type:
          - string
          - 'null'
      absenceTypeId:
        type:
          - string
          - 'null'
      absenceTypeName:
        type:
          - string
          - 'null'
      approved:
        type:
          - boolean
          - 'null'
      approvedByName:
        type:
          - string
          - 'null'
      approvedDateTime:
        type:
          - string
          - 'null'
      companyId:
        type:
          - string
          - 'null'
      companyIds:
        type:
          - array
          - 'null'
        items:
          type:
            - string
            - 'null'
      createdAt:
        type:
          - string
          - 'null'
      createdByUserId:
        type:
          - string
          - 'null'
      date:
        type:
          - string
          - 'null'
      employeeNumber:
        type:
          - string
          - 'null'
      id:
        type: string
      isDeleted:
        type:
          - boolean
          - 'null'
      isPayrollExportAbsence:
        type:
          - boolean
          - 'null'
      locked:
        type:
          - boolean
          - 'null'
      lockedDateTime:
        type:
          - string
          - 'null'
      manualQty:
        type:
          - boolean
          - 'null'
      modifiedAt:
        type:
          - string
          - 'null'
      modifiedByUserId:
        type:
          - string
          - 'null'
      modifiedDateTime:
        type:
          - string
          - 'null'
      payrollApproved:
        type:
          - boolean
          - 'null'
      payrollApprovedDateTime:
        type:
          - string
          - 'null'
      payrollSummaryId:
        type:
          - string
          - 'null'
      projectCompanyId:
        type:
          - string
          - 'null'
      projectId:
        type:
          - string
          - 'null'
      qty:
        type:
          - number
          - 'null'
      recVersion:
        type:
          - number
          - 'null'
      registrationBirthDateOfChild:
        type:
          - string
          - 'null'
      registrationId:
        type:
          - string
          - 'null'
      registrationSickLeaveReason:
        type:
          - number
          - 'null'
      startTime:
        type:
          - string
          - 'null'
      userId:
        type:
          - string
          - 'null'
    required:
      - id
  resource:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active:
        type:
          - boolean
          - 'null'
      buildYear:
        type:
          - number
          - 'null'
      capacity:
        type:
          - number
          - 'null'
      companyId:
        type:
          - string
          - 'null'
      companyName:
        type:
          - string
          - 'null'
      createdBy:
        type:
          - string
          - 'null'
      createdDateTime:
        type:
          - string
          - 'null'
      deletedDateTime:
        type:
          - string
          - 'null'
      emissionClass:
        type:
          - string
          - 'null'
      engineNumber:
        type:
          - string
          - 'null'
      fuelConsumptionRate:
        type:
          - number
          - 'null'
      fuelConsumptionUnit:
        type:
          - number
          - 'null'
      hourMeter:
        type:
          - number
          - 'null'
      id:
        type: string
      isDeleted:
        type:
          - boolean
          - 'null'
      isExternal:
        type:
          - boolean
          - 'null'
      modifiedBy:
        type:
          - string
          - 'null'
      modifiedDateTime:
        type:
          - string
          - 'null'
      name:
        type:
          - string
          - 'null'
      number:
        type:
          - string
          - 'null'
      purchasedDate:
        type:
          - string
          - 'null'
      registrationNumber:
        type:
          - string
          - 'null'
      serialNumber:
        type:
          - string
          - 'null'
      serviceDate:
        type:
          - string
          - 'null'
      typeBaseName:
        type:
          - string
          - 'null'
      typeId:
        type:
          - string
          - 'null'
      typeName:
        type:
          - string
          - 'null'
      weight:
        type:
          - number
          - 'null'
    required:
      - id
  payroll_lines:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      approved:
        type:
          - boolean
          - 'null'
      approvedDateTime:
        type:
          - string
          - 'null'
      companyId:
        type:
          - string
          - 'null'
      deletedDateTime:
        type:
          - string
          - 'null'
      employeeNumber:
        type:
          - string
          - 'null'
      id:
        type: string
      isDeleted:
        type:
          - boolean
          - 'null'
      modifiedBy:
        type:
          - string
          - 'null'
      modifiedDateTime:
        type:
          - string
          - 'null'
      payrollValuesAsExportLines:
        type:
          - array
          - 'null'
        items:
          type:
            - object
            - 'null'
          properties:
            absenceOrigin:
              type:
                - boolean
                - 'null'
            exportType:
              type:
                - string
                - 'null'
            externalSubProjectNumber:
              type:
                - string
                - 'null'
            id:
              type:
                - string
                - 'null'
            lineType:
              type:
                - number
                - 'null'
            lineTypeName:
              type:
                - string
                - 'null'
            pieceWorkId:
              type:
                - string
                - 'null'
            productionCode:
              type:
                - string
                - 'null'
            projId:
              type:
                - string
                - 'null'
            projectName:
              type:
                - string
                - 'null'
            projectNumber:
              type:
                - string
                - 'null'
            qty:
              type:
                - number
                - 'null'
            rate:
              type:
                - number
                - 'null'
            taskNumber:
              type:
                - string
                - 'null'
            typeId:
              type:
                - string
                - 'null'
            typeName:
              type:
                - string
                - 'null'
      startDateTime:
        type:
          - string
          - 'null'
      stopDateTime:
        type:
          - string
          - 'null'
      transDateTime:
        type:
          - string
          - 'null'
      userName:
        type:
          - string
          - 'null'
      verified:
        type:
          - boolean
          - 'null'
      verifiedDateTime:
        type:
          - string
          - 'null'
    required:
      - id
  incidents_registration:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      absenceDays:
        type:
          - number
          - 'null'
      accuracy:
        type:
          - number
          - 'null'
      assignedTo:
        type:
          - object
          - 'null'
        properties:
          avatarImageId:
            type:
              - string
              - 'null'
          companyId:
            type:
              - string
              - 'null'
          companyName:
            type:
              - string
              - 'null'
          companyOrgNumber:
            type:
              - string
              - 'null'
          employeeNumber:
            type:
              - string
              - 'null'
          id:
            type:
              - string
              - 'null'
          mobilePhone:
            type:
              - string
              - 'null'
          name:
            type:
              - string
              - 'null'
      assignedToId:
        type:
          - string
          - 'null'
      baseType:
        type:
          - number
          - 'null'
      baseTypeText:
        type:
          - string
          - 'null'
      categories:
        type:
          - array
          - 'null'
        items:
          type:
            - object
            - 'null'
          properties:
            id:
              type:
                - string
                - 'null'
            name:
              type:
                - string
                - 'null'
      categoryIds:
        type:
          - array
          - 'null'
        items:
          type:
            - string
            - 'null'
      causeIds:
        type:
          - array
          - 'null'
        items:
          type:
            - string
            - 'null'
      causes:
        type:
          - array
          - 'null'
        items:
          type:
            - object
            - 'null'
          properties:
            id:
              type:
                - string
                - 'null'
            name:
              type:
                - string
                - 'null'
      commentInternal:
        type:
          - string
          - 'null'
      company:
        type:
          - object
          - 'null'
        properties:
          address:
            type:
              - string
              - 'null'
          avatarSrc:
            type:
              - string
              - 'null'
          companyId:
            type:
              - string
              - 'null'
          countryCode:
            type:
              - string
              - 'null'
          id:
            type:
              - string
              - 'null'
          logoImageFileRef114:
            type:
              - string
              - 'null'
          logoImageFileRef144:
            type:
              - string
              - 'null'
          logoImageFileRef57:
            type:
              - string
              - 'null'
          logoImageFileRef72:
            type:
              - string
              - 'null'
          logoImageFileRefOrig:
            type:
              - string
              - 'null'
          name:
            type:
              - string
              - 'null'
          orgNr:
            type:
              - string
              - 'null'
          timeZoneId:
            type:
              - string
              - 'null'
      companyId:
        type:
          - string
          - 'null'
      companyIds:
        type:
          - array
          - 'null'
        items:
          type:
            - string
            - 'null'
      companyName:
        type:
          - string
          - 'null'
      costs:
        type:
          - number
          - 'null'
      createdAt:
        type:
          - string
          - 'null'
      createdBy:
        type:
          - object
          - 'null'
        properties:
          avatarImageId:
            type:
              - string
              - 'null'
          companyId:
            type:
              - string
              - 'null'
          companyName:
            type:
              - string
              - 'null'
          companyOrgNumber:
            type:
              - string
              - 'null'
          employeeNumber:
            type:
              - string
              - 'null'
          id:
            type:
              - string
              - 'null'
          mobilePhone:
            type:
              - string
              - 'null'
          name:
            type:
              - string
              - 'null'
      createdByUserId:
        type:
          - string
          - 'null'
      currentUserAccessLevel:
        type:
          - number
          - 'null'
      currentUserAccessLevelText:
        type:
          - string
          - 'null'
      customCategories:
        type:
          - array
          - 'null'
        items:
          type:
            - object
            - 'null'
          properties:
            id:
              type:
                - string
                - 'null'
            name:
              type:
                - string
                - 'null'
      customCategoryIds:
        type:
          - array
          - 'null'
        items:
          type:
            - string
            - 'null'
      customCategoryPropertyName:
        type:
          - string
          - 'null'
      customProperties:
        type:
          - array
          - 'null'
        items:
          type:
            - object
            - 'null'
          properties:
            dropdownIds:
              type:
                - array
                - 'null'
              items:
                type:
                  - string
                  - 'null'
            dropdownOptions:
              type:
                - array
                - 'null'
              items:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type:
                      - string
                      - 'null'
                  name:
                    type:
                      - string
                      - 'null'
            propertyId:
              type:
                - string
                - 'null'
            propertyName:
              type:
                - string
                - 'null'
      damageType:
        type:
          - number
          - 'null'
      damageTypeText:
        type:
          - string
          - 'null'
      description:
        type:
          - string
          - 'null'
      exportable:
        type:
          - boolean
          - 'null'
      externalDim01:
        type:
          - string
          - 'null'
      externalDim02:
        type:
          - string
          - 'null'
      externalId:
        type:
          - string
          - 'null'
      externalProjectNumber:
        type:
          - string
          - 'null'
      externalTaskNumber:
        type:
          - string
          - 'null'
      fileFileReferences:
        type:
          - array
          - 'null'
        items:
          type:
            - object
            - 'null'
          properties:
            collectionRef:
              type:
                - string
                - 'null'
            companyId:
              type:
                - string
                - 'null'
            companyIds:
              type:
                - array
                - 'null'
              items:
                type:
                  - string
                  - 'null'
            createdBy:
              type:
                - string
                - 'null'
            createdDateTime:
              type:
                - string
                - 'null'
            fileName:
              type:
                - string
                - 'null'
            fileNameOrig:
              type:
                - string
                - 'null'
            fileSize:
              type:
                - number
                - 'null'
            fileType:
              type:
                - string
                - 'null'
            geoCoordinate:
              type:
                - object
                - 'null'
              properties:
                accuracy:
                  type:
                    - number
                    - 'null'
                latitude:
                  type:
                    - number
                    - 'null'
                longitude:
                  type:
                    - number
                    - 'null'
            id:
              type:
                - string
                - 'null'
            idRef:
              type:
                - string
                - 'null'
            isImage:
              type:
                - boolean
                - 'null'
            isSvg:
              type:
                - boolean
                - 'null'
            recVersion:
              type:
                - number
                - 'null'
            secondaryIdRefs:
              type:
                - array
                - 'null'
            syncState:
              type:
                - number
                - 'null'
            userSecurityLevel:
              type:
                - number
                - 'null'
      fileIds:
        type:
          - array
          - 'null'
        items:
          type:
            - string
            - 'null'
      history:
        type:
          - array
          - 'null'
      hmsRegIntegrationEnabled:
        type:
          - boolean
          - 'null'
      hmsRegTypeId:
        type:
          - string
          - 'null'
      hmsRegTypeSetOnAlertType:
        type:
          - boolean
          - 'null'
      id:
        type:
          - string
          - 'null'
      imageFileReferences:
        type:
          - array
          - 'null'
        items:
          type:
            - object
            - 'null'
          properties:
            collectionRef:
              type:
                - string
                - 'null'
            companyId:
              type:
                - string
                - 'null'
            companyIds:
              type:
                - array
                - 'null'
              items:
                type:
                  - string
                  - 'null'
            createdBy:
              type:
                - string
                - 'null'
            createdDateTime:
              type:
                - string
                - 'null'
            fileName:
              type:
                - string
                - 'null'
            fileNameOrig:
              type:
                - string
                - 'null'
            fileSize:
              type:
                - number
                - 'null'
            fileType:
              type:
                - string
                - 'null'
            geoCoordinate:
              type:
                - object
                - 'null'
              properties:
                accuracy:
                  type:
                    - number
                    - 'null'
                latitude:
                  type:
                    - number
                    - 'null'
                longitude:
                  type:
                    - number
                    - 'null'
            id:
              type:
                - string
                - 'null'
            idRef:
              type:
                - string
                - 'null'
            isImage:
              type:
                - boolean
                - 'null'
            isSvg:
              type:
                - boolean
                - 'null'
            recVersion:
              type:
                - number
                - 'null'
            secondaryIdRefs:
              type:
                - array
                - 'null'
            syncState:
              type:
                - number
                - 'null'
            userSecurityLevel:
              type:
                - number
                - 'null'
      imageIds:
        type:
          - array
          - 'null'
        items:
          type:
            - string
            - 'null'
      involvedCompanies:
        type:
          - array
          - 'null'
        items:
          type:
            - object
            - 'null'
          properties:
            address:
              type:
                - string
                - 'null'
            avatarSrc:
              type:
                - string
                - 'null'
            companyId:
              type:
                - string
                - 'null'
            countryCode:
              type:
                - string
                - 'null'
            id:
              type:
                - string
                - 'null'
            logoImageFileRef114:
              type:
                - string
                - 'null'
            logoImageFileRef144:
              type:
                - string
                - 'null'
            logoImageFileRef57:
              type:
                - string
                - 'null'
            logoImageFileRef72:
              type:
                - string
                - 'null'
            logoImageFileRefOrig:
              type:
                - string
                - 'null'
            name:
              type:
                - string
                - 'null'
            orgNr:
              type:
                - string
                - 'null'
            timeZoneId:
              type:
                - string
                - 'null'
      involvedCompanyIds:
        type:
          - array
          - 'null'
        items:
          type:
            - string
            - 'null'
      involvedParties:
        type:
          - array
          - 'null'
        items:
          type:
            - object
            - 'null'
          properties:
            id:
              type:
                - string
                - 'null'
            name:
              type:
                - string
                - 'null'
      involvedPartiesIds:
        type:
          - array
          - 'null'
        items:
          type:
            - string
            - 'null'
      involvedResources:
        type:
          - string
          - 'null'
      isDeleted:
        type:
          - boolean
          - 'null'
      latitude:
        type:
          - number
          - 'null'
      locationPoint:
        type:
          - object
          - 'null'
        properties:
          type:
            type:
              - string
              - 'null'
          accuracy:
            type:
              - number
              - 'null'
          coordinates:
            type:
              - array
              - 'null'
            items:
              type:
                - number
                - 'null'
          isValidPoint:
            type:
              - boolean
              - 'null'
      longitude:
        type:
          - number
          - 'null'
      machineId:
        type:
          - string
          - 'null'
      machineName:
        type:
          - string
          - 'null'
      machineResourceNumber:
        type:
          - string
          - 'null'
      machineSerialNumber:
        type:
          - string
          - 'null'
      measures:
        type:
          - string
          - 'null'
      modifiedAt:
        type:
          - string
          - 'null'
      modifiedByUserId:
        type:
          - string
          - 'null'
      modifiedDateTime:
        type:
          - string
          - 'null'
      motherCompanyName:
        type:
          - string
          - 'null'
      pdfFileReferenceId:
        type:
          - string
          - 'null'
      projectCompanyId:
        type:
          - string
          - 'null'
      projectCompanyName:
        type:
          - string
          - 'null'
      projectId:
        type:
          - string
          - 'null'
      projectName:
        type:
          - string
          - 'null'
      projectNotificationTypeId:
        type:
          - string
          - 'null'
      projectNumber:
        type:
          - string
          - 'null'
      readyForExportToExternal:
        type:
          - boolean
          - 'null'
      recVersion:
        type:
          - number
          - 'null'
      relatedTo:
        type:
          - array
          - 'null'
        items:
          type:
            - object
            - 'null'
          properties:
            id:
              type:
                - string
                - 'null'
            name:
              type:
                - string
                - 'null'
      relatedToIds:
        type:
          - array
          - 'null'
        items:
          type:
            - string
            - 'null'
      requiresFurtherAction:
        type:
          - boolean
          - 'null'
      resolvedOnLocation:
        type:
          - boolean
          - 'null'
      risk:
        type:
          - number
          - 'null'
      riskText:
        type:
          - string
          - 'null'
      sentTo:
        type:
          - array
          - 'null'
        items:
          type:
            - string
            - 'null'
      serialNumber:
        type:
          - string
          - 'null'
      serialNumberPrefix:
        type:
          - string
          - 'null'
      serialNumberWithPrefix:
        type:
          - string
          - 'null'
      showCost:
        type:
          - boolean
          - 'null'
      showDamageInfo:
        type:
          - boolean
          - 'null'
      showRisk:
        type:
          - boolean
          - 'null'
      status:
        type:
          - number
          - 'null'
      statusText:
        type:
          - string
          - 'null'
      statusUpdatedAt:
        type:
          - string
          - 'null'
      statusUpdatedBy:
        type:
          - object
          - 'null'
        properties:
          avatarImageId:
            type:
              - string
              - 'null'
          companyId:
            type:
              - string
              - 'null'
          companyName:
            type:
              - string
              - 'null'
          companyOrgNumber:
            type:
              - string
              - 'null'
          employeeNumber:
            type:
              - string
              - 'null'
          id:
            type:
              - string
              - 'null'
          mobilePhone:
            type:
              - string
              - 'null'
          name:
            type:
              - string
              - 'null'
      statusUpdatedByUserId:
        type:
          - string
          - 'null'
      taskId:
        type:
          - string
          - 'null'
      taskName:
        type:
          - string
          - 'null'
      taskNumber:
        type:
          - string
          - 'null'
      title:
        type:
          - string
          - 'null'
      typeExternalNumber:
        type:
          - string
          - 'null'
      typeName:
        type:
          - string
          - 'null'
